---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
      <div class="row center">
        <a href="https://play.google.com/store/apps/details?id=com.valleydevfest.androidify" id="download-button" class="btn-large waves-effect waves-light orange">
          <i class="material-icons">android</i> Get Started
          <!-- <img src="img/google-play-badge.png"> -->
        </a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- Icon Section -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">play_circle_outline</i></h2>
            <h5 class="center">Step 1. Redeem your Play Credits</h5>

            <p class="light">Meditation sound effects will help you on your journey as an exchange.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">access_time</i></h2>
            <h5 class="center">Step 2. Meditate and wait patiently</h5>

            <p class="light">There's an approximate 6 hour delay to give those souls some time who may change their mind.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Step 3. Receive monetary support</h5>

            <p class="light">You'll receive 60% of your In-App purchase amount onto your PayPal verified account to ease the burden of the travel to enlightement.</p>
          </div>
        </div>
      </div>

    </div>
      
  </div>
  <div style="background: #ddd">
    <div class="container last-post">
      <section>
        <h5>Latest News</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
      </section>
    </div>
  </div>

</div>
